@model EasyERP.Models.HelpModels.AddOrderProducts

@{
    ViewBag.Title = "Dodaj zamówienie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div id="produkty">
        <h1 class="bold">Utwórz zamówienie</h1>
        <a id="open-dialog" href="#" class="button">Dodaj produkt</a>

        @*@if (Model.ClientId == 0)
            {
                @: Klient: @Html.DropDownListFor(model => model.ClientId, new SelectList(Model.Clients, "ClientId", "FirstName", Model.ClientId), "Wybierz klienta", new { id = "Clients" })
            }
            else
            {
                @Html.HiddenFor(model => model.ClientId)
            }*@


        <table class="edit">
            <tr>
                <td colspan="2" align="center">
                    <h2 align="center">Dane dokumentu</h2>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Order.Seller)
                </td>
                <td>
                    @Html.EditorFor(model => model.Order.Seller, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Order.Seller, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Order.StartDate)
                </td>
                <td>
                    @Html.EditorFor(model => model.Order.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Order.StartDate, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Order.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Order.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Order.EndDate, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    Klient
                </td>
                <td>
                    @Html.DropDownListFor(model => model.ClientId, new SelectList(Model.Clients, "ClientId", "FirstName", Model.ClientId), "Wybierz klienta", new { id = "Clients" })
                    @Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <h2 align="center">Pozycje</h2>
                </td>
            </tr>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Produkty</th>
                    <th>Ilość</th>
                    <th>Cena</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                @foreach (EasyERP.Models.Product product in @Model.Basket)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Amount</td>
                        <td>@product.PurchasePrice</td>
                        <td class="akcja"><a href="#" class="true"></a><a href="#" class="false"></a><a href="#" class="delete"></a></td>
                    </tr>
                }
                <tr class="empty">
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="operacje">
        <h2 class="bold">Operacje</h2>
        <a href="#">Generuj ofertę</a>
        <a href="#" onclick="document.forms[1].submit();return false;">Stwórz zamówienie</a>
    </div>
    <div class="clr"></div>
    if (Model.ClientId != 0)
    {
        <div id="zamowienia">
            <h1 class="bold">Lista zamówień<a href="#">Wygenerowane oferty</a></h1>
            <a href="#" class="button">Pokaż wszystkie</a>
            <table>
                <thead>
                    @foreach (var item in Model.Orders)
                    {
                        <tr>
                            <th>@Html.DisplayFor(modelItem => item.OrderId)</th>
                            <th>@Html.DisplayFor(modelItem => item.Seller)</th>
                            <th>@Html.DisplayFor(modelItem => item.StartDate)</th>
                            <th>@Html.DisplayFor(modelItem => item.EndDate)</th>
                            <th>@Html.DisplayFor(modelItem => item.ListPrice)</th>
                            <th>@Html.DisplayFor(modelItem => item.PurchasePrice)</th>
                        </tr>
                    }
                </thead>
                <tbody>
                    @foreach (EasyERP.Models.Order order in @Model.Orders)
                    {
                        <tr>
                            <td>@order.OrderId</td>
                            <td>@order.Seller</td>
                            <td>@order.StartDate</td>
                            <td>@order.EndDate</td>
                            <td>@order.ListPrice zł</td>
                            <td>@order.PurchasePrice zł</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="6">
                            <form method="get">
                                <a href="#" id="wstecz"></a>
                                <input type="text" value="1" name="page"><span>/ 5</span>
                                <a href="#" id="dalej"></a>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }

    <div id="addProduct-modalPopUp">
        <table>
            @foreach (EasyERP.Models.Product product in @Model.Products)
            {
                <tr>
                    <td>
                        @product.Name
                    </td>
                    <td>
                        @Html.ActionLink("Dodaj", "AddProductToBasket", "Orders", new { ProductId = product.ProductId, ClientId = Model.ClientId }, null)
                    </td>
                </tr>
            }
        </table>
    </div>

}

<script type="text/javascript">
    $("#addProduct-modalPopUp").dialog({
        autoOpen: false,
        show: {
            effect: "blind",
            duration: 1000
        },
        hide: {
            effect: "explode",
            duration: 1000
        }
    });

    $("#open-dialog").click(function () {
        $("#addProduct-modalPopUp").dialog("open");
    });
</script>

<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>