@model PagedList.IPagedList<EasyERP.Models.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Magazyn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="produkty" class="mag">
    <h1 class="bold">Magazyn</h1>
    @Html.ActionLink("Dodaj produkt", "Create", "", htmlAttributes: new { @class="button dodaj" })
    <table class="magazyn">
        <thead>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.First().Name)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.First().Code)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.First().Amount)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.First().ListPrice)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.First().PurchasePrice)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.First().QuantityPackage)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.First().Category)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.First().DeliveryDate)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.First().Description)
                </td>
                <td>Edytuj/Usuń</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ListPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchasePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantityPackage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Edycja", "Edit", new { id = item.ProductId }) |
                        @Html.ActionLink("Szczegóły", "Details", new { id = item.ProductId }) |
                        @Html.ActionLink("Usuń", "Delete", new { id = item.ProductId })
                    </td>
                </tr>
            }
            <tr>
                <td colspan="13" align="center">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </td>
            </tr>
        </tbody>
    </table>
</div>
