@model EasyERP.Models.Task

<div id="zadania">
    <div id="dodaj-zadanie">
        <h4>
            @foreach (SelectListItem type in (System.Collections.IEnumerable)ViewData["Priority"])
            {
                if (Model.Priority.ToString() == type.Value)
                {

                    @type.Text
                    break;
                }
            }
        </h4>
        @using (Html.BeginForm("FinishTask", "Dashboard", new { @taskId = Model.TaskId }, FormMethod.Post, htmlAttributes: new { @class = "alignleft align" }))
        {
            foreach (SelectListItem type in (System.Collections.IEnumerable)ViewData["TaskType"])
            {
                if (Model.TaskType.ToString() == type.Value)
                {
                    @Html.TextBox(type.Text, type.Text, new { @class = "alignleft align", @name = "type" })
                    break;
                }
            }
            @Html.EditorFor(model => model.TaskDate, new { @class = "alignleft align", @name = "date" })
            @Html.TextBoxFor(model => model.Description, htmlAttributes: new { @class = "alignleft align opis-zadania", @name = "opis" })
            if (Model.Status == 1)
            {
                <input type="submit" class="alignleft transition align zrobione" name="zrobione" value="Zrobione!">
                <input type="submit" class="alignleft transition align przeloz" name="przełóż" value="Przełóż" disabled="disabled">
            }
            else
            {
                <a>Zadanie zostało wykonane</a>
            }
            <a href="@Url.Action("Index", "Dashboard")" class="icon krzyzyk alignright align"></a>
            <a href="@Url.Action("DeleteTask", "Dashboard", new { @taskId = Model.TaskId })" class="icon kosz alignright align"></a>
        }
    </div>
</div>
@Scripts.Render("~/bundles/Common")