@model EasyERP.Models.Task

<div id="zadania">
    <div class="wykres alignleft align">
        <span>Zadania skończone</span><span class="skonczone">15 %</span><div id="canvas-holder-1"><canvas id="chart-area-1" width="50" height="50" /></div>
    </div>
    <div class="wykres alignright align">
        <span>Zadania nieskończone</span><span class="nie-skonczone">75 %</span><div id="canvas-holder-2"><canvas id="chart-area-2" width="50" height="50" /></div>
    </div>
    <div id="dodaj-zadanie">
        <h4>
            @foreach (SelectListItem type in (System.Collections.IEnumerable)ViewData["Priority"])
            {
                if (Model.Priority.ToString() == type.Value)
                {

                    @type.Text
                    break;
                }
            }
        </h4>
        <form class="alignleft align">
            @foreach (SelectListItem type in (System.Collections.IEnumerable)ViewData["TaskType"])
            {
                if (Model.TaskType.ToString() == type.Value)
                {
                    @Html.TextBox(type.Text, type.Text, new { @class = "alignleft align", @name = "type" })
                    break;
                }
            }
            @Html.EditorFor(model => model.TaskDate, new { @class = "alignleft align", @name = "date" })
            @Html.TextBoxFor(model => model.Description, htmlAttributes: new { @class = "alignleft align opis-zadania", @name = "opis" })

            <input type="submit" class="alignleft transition align zrobione" name="zrobione" value="Zrobione!">
            <input type="submit" class="alignleft transition align przeloz" name="przełóż" value="Przełóż">
        </form>
        <a href="@Url.Action("Index", "Dashboard")" class="icon krzyzyk alignright align"></a>
        <a href="@Url.Action("DeleteTask", "Dashboard", new { @taskId = Model.TaskId })" class="icon kosz alignright align"></a>
    </div>
</div>
