@model EasyERP.Models.User

@*<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>*@
@Scripts.Render("~/bundles/jquery")
<div id="dane-konta">
    @using (Ajax.BeginForm("Edit", "Settings", null, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "settings", InsertionMode = InsertionMode.Replace, OnSuccess = "onSuccess" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.UserId)

        @Ajax.ActionLink("Anuluj", "SettingsUsers", new {}, new AjaxOptions { UpdateTargetId = "settings", InsertionMode = InsertionMode.Replace, HttpMethod = "Get" }, htmlAttributes: new { @class = "button" })
        <input type="submit" value="Zapisz" class="button zapisz transition">
        <table class="edit">
            <tr>
                <td>
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })

                </td>
                <td>
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
        </table>
        <br />
        @Html.ValidationSummary(false, "", new { @class = "text-danger alert" })
    }
</div>