@model IEnumerable<EasyERP.Models.User>

<div id="produkty">
    <h1 class="bold min-padding">Lista użytkowników</h1>
    <table class="ustawienia">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RememberMe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnteredOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RememberMe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnteredOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Ajax.ActionLink("Zmień", "Edit", new { id = item.UserId }, new AjaxOptions { UpdateTargetId = "settings", InsertionMode = InsertionMode.Replace, HttpMethod = "Get" }) |
                        @Ajax.ActionLink("Usuń", "Delete", new { id = item.UserId }, new AjaxOptions { UpdateTargetId = "settings", InsertionMode = InsertionMode.Replace, HttpMethod = "Get" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@using (@Html.BeginForm("AddUser", "Settings", FormMethod.Post, htmlAttributes: new { @id = "operacje", @class = "dodaj-uzytkownika" }))
{
    if (ViewBag.User != null)
    {
        var user = (EasyERP.Models.User)ViewBag.User;
        <h2 class="bold">Dodaj użytkownika</h2>
        <input id="Name" name="Name" value=@user.Name type="text">
        <input id="Password" name="Password" value="" type="password">
        <input id="Password" name="Password" value="" type="password">
        <input id="FirstName" name="FirstName" value=@user.FirstName type="text">
        <input id="LastName" name="LastName" value=@user.LastName type="text">
        <input id="Email" name="Email" value=@user.Email type="text">
        <input type="submit" class="ust" value="Dodaj użytkownika">
    }
}
